server/build/
server/include/httplib.h
server/include/nlohmann/
cache/
*.exe
*.obj
*.a
__pycache__/
*.ipynb_checkpoints
coord_picker.html
download_data.py
client/indoor_editor.html
.vscode
server/data/users.json